{:paths          ["."]
 :deps           {}
 :min-bb-version "0.4.0"
 :tasks          {release
                  {:requires ([babashka.process :as p :refer [process]]
                              [clojure.string :as str])
                   :doc      "Makes a git tag and push it to the Github to trigger release with GH action."
                   :task     (let [command (str/join " " (concat ["clojure -T:build show-version"] *command-line-args*))]
                               (clojure command))}}}
