name: Release Version

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3.4.1
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: 1.11.1.1149
      - name: Cache All The Things
        uses: actions/cache@v3.0.5
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.clojure
            ~/.cpcache
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}

      - name: Unit Tests first before releasing
        run: clojure -M:test

      - name: Deploy Release
        run: clojure -T:build deploy :snapshot false
        env:
          CLOJARS_PASSWORD: ${{secrets.CLOJARS_PASSWORD}}
          CLOJARS_USERNAME: ${{secrets.CLOJARS_USERNAME}}
